@using CarMessenger.Models
@model ChangeNicknameViewModel
@{
    ViewBag.Title = "Change your Nickname";
}

<div class="d-flex w-100 h-100 justify-content-center">
    <div class="col-sm-10 col-md-8">
        <div class="main-bg">
            <h2 class="main-header">@ViewBag.Title</h2>

            @using (Html.BeginForm("ChangeNickname", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Nickname, new { @class = "control-label w-100" })
                        <div class="w-100">
                            @Html.EditorFor(m => m.Nickname, new { htmlAttributes = new { @class = "form-control", @Value = Model.Nickname ?? "" } })
                            @Html.ValidationMessageFor(m => m.Nickname, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group d-flex justify-content-between">
                        <span>
                            <button class="btn btn-info"> @Html.ActionLink("Back to Manage", "../Manage", null, new { Style = "color:White; text-decoration: none;" }) </button>
                        </span>
                        <span>
                            <input type="submit" value="Change Nickname" class="btn btn-success" />
                        </span>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
