@using Microsoft.AspNet.Identity
@using CarMessenger.Models

@{
    var chats = ViewBag.chats as List<KeyValuePair<ChatHead, List<SentMessage>>>;
}

@*<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>*@

<style>    
    .left-box {
        color: #888 !important;
        padding: 0;
    }
    .left-box>div {
        background: #fff !important;
    }
    .left-box .card-header {
        border-bottom: 1px solid #8ccbe54a !important;
    }
    .card-header {
        border-radius: 4px 4px 0 0 !important;
        border-bottom: 0 !important;
        background-color: rgba(0,0,0,.06) !important;
    }
    @@media all and (max-width: 767px) {
          .left-box {
                margin-left: 0 !important;
                padding: 0;
          }
    }
    .card-header .user_info span {
        font-size: 16px;
        font-weight: 500;
        color: #666;
    }
    .btn-primary {
        background: #fff !important;
        border-color: #fff !important;
        color: #4f5186 !important;
        border-radius: 50px !important;
        position: relative;
        box-shadow: 0 0 0 0.1rem rgb(95 183 204 / 50%);
    }
    .btn-primary:before {
        content: "+";
        background: #5fb7cc;
        color: #fff;
        border-radius: 50px;
        position: absolute;
        left: -10px;
        top: 18px;
        width: 20px;
        height: 20px;
        font-size: 14px;
        line-height: 20px;
        font-weight: bold;
        font-family: arial;
    }
    .btn-primary.focus, .btn-primary:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgb(95 183 204 / 50%);
    }
    a {
        color: #587893 !important;
    }
    .list-group {
        padding: 0.6rem 0;
        border-bottom: 1px solid #f7f7f7 !important;
        display: flow-root !important;
        font-size: 14px;
    }
    .list-group * {
        display: inline-block;
        vertical-align: middle;
    }
    .list-group:hover {
        background-color: rgba(0, 0, 0, 0.06);
        cursor: pointer;
    }
    .list-group.active {
        background: #86c0dc;
        color: #fff !important;
    }
    .chat {
        padding: 68px 0 70px;
    }
    .right-box.chat {
        padding: 83px 15px 85px !important;
    }
    .card {
        border-radius: 4px !important;
        background-color: rgba(0, 0, 0, 0.04) !important;
        border: none !important;
    }
    .left-box .card {
        border-radius: 0!important;
    }
    .contacts_body {
        padding: 0 !important;
        overflow-y: auto;
        white-space: nowrap;
    }
    .msg_card_body {
        overflow-y: auto;
        display: flex;
        /*align-items: flex-end;*/
        padding-right: 10px;
    }
    .right-box .card-header {
        border-bottom: none !important;
    }
    .right-box .card-header .user_info span {
        font-size: 20px;
        color: #fff;
    }
    .card-footer {
        border-radius: 0 0 4px 4px !important;
        border-top: 0 !important;
    }
    .type_msg {
        background-color: #fff !important;
        border: 0 !important;
        height: 60px !important;
        overflow-y: auto;
    }
    .type_msg:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }
    .send_btn {
        border-radius: 0 4px 4px 0 !important;
        background-color: #4f5186 !important;
        border: 0 !important;
        color: white !important;
        cursor: pointer;
    }
    .send_btn:hover {
        background-color: rgba(0, 0, 0, 0.25) !important;
    }
    ::-webkit-input-placeholder {
        /* Edge */
        color: #999 !important;
    }
    :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #999 !important;
    }
    ::placeholder {
        color: #999 !important;
    }
    .msg_nickname {
        position: absolute;
        left: 0;
        bottom: -18px;
        color: rgba(255, 255, 255, 0.5);
        font-size: 10px;
    }
    .img_cont_msg {
        height: 26px;
        width: 26px;
        background: #5fb7cc;
        border-radius: 30px;
        position: relative;
    }
    .img_cont_msg .hide {
        opacity: 0;
    }
    .img_cont_msg:before {
        content: "car";
        font-size: 8px;
        line-height: 28px;
        font-weight: bold;
        text-transform: uppercase;
        position: absolute;
        left: 5px;
        opacity: 1;
    }
    .justify-content-end .img_cont_msg {
        background: #4f5186;
    }
    .justify-content-end .img_cont_msg:before {
        content: "you";
    }
    .opacity-0 {
        opacity: 0;
    }
    .msg_cotainer {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 14px;
        border-radius: 25px;
        background-color: #fff;
        padding: 10px;
        position: relative;
        color: #666;
    }
    .msg_cotainer_send {
        margin-left: 0px;
        margin-right: 14px;
    }
    .msg_time {
        position: absolute;
        left: 0;
        bottom: -18px;
        color: rgba(255, 255, 255, 0.5);
        font-size: 10px;
    }
    .msg_time_send {
        position: absolute;
        right: 0;
        bottom: -18px;
        color: rgba(255, 255, 255, 0.5);
        font-size: 10px;
    }
    .NUM {
        background-color: rgba(0,0,0,.06);
    }
    .NewMsgs {
        background: #f37b18;
        color: #fff;
        padding: 2px 6px;
        border-radius: 25px;
        font-size: 8px;
    }
    .NewMsgsWrapp {
        float: right;
        width: 50px;
        text-align: center;
    }
    .left-box .nickname {
        max-width: 30%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    #Msgs {
        display: none !important;
        position: absolute;
        z-index: 1;
        top: 140px;
        padding-right: 30px;
    }
</style>

<div class="h-100">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-2 h-100 h-100 m-0">
        <div class="col-md-4 col-xl-3 h-100 left-box chat">
            <div class="card mb-sm-3 mb-md-0 contacts_card h-100">

                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center bd-highlight">
                        <div class="user_info">
                            <span>Your chat list</span>
                        </div>
                        <button type="button" class="btn btn-rounded btn-primary" onclick="location.href='/Home/NewChat'"><i class="fas fa-car" aria-hidden="true"></i></button>
                    </div>
                </div>
                <div id="heads_box" class="contacts_body">
                    @{
                        foreach (var chat in chats)
                        {
                            var personNickname = chat.Key.info;
                            <div id="h_@chat.Key.chatId" class="p-3 list-group list-group-hover contacts_card chat_head @chat.Key.code @chat.Key.plate @(chat.Key.owning == true ? "Owned" : "")"
                                  onclick="select_head('@chat.Key.chatId');">
                                (<text class="carCode" st>@chat.Key.code</text>) <text class="carPlate">@chat.Key.plate</text>
                                @if (chat.Key.owning)
                                {
                                    if (personNickname != null)
                                    {
                                        <text>(<text class="nickname">@personNickname</text>)</text>
                                    }
                                    else
                                    {
                                        <text> # </text>
                                    }
                                }
                                <text class="NewMsgsWrapp"><text class="NewMsgs" style="display: @(chat.Key.newMsgs == 0 ? "none" : "inline-block")">@chat.Key.newMsgs</text></text>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <div id="RightBox" class="col-md-8 col-xl-9 pt-4 pb-4 chat h-100 right-box">
            <div id ="chat_box" class="h-100" style="display: none">
                <div class="card h-100">
                    <div class="card-header msg_head">
                        <div class="d-flex bd-highlight">
                            <div class="user_info">
                                <span>Chat with : <span id="chat-with-id"></span></span>
                            </div>
                        </div>
                    </div>
                    <div id="chat_body" class="card-body msg_card_body w-100">
                        @foreach (var chat in chats)
                        {
                            <div id="b_@chat.Key.chatId" class="msg_card_body contact_body chat_body w-100">
                                @if (chat.Value.Count > 0)
                                {
                                    SentMessage msg;
                                    for (var i = chat.Value.Count - 1; i >= 0; --i)
                                    {
                                        if (i == chat.Key.newMsgs - 1)
                                        {
                                            <div class="NUM pb-2 pt-2 text-center mb-2">
                                                New Unread Messages
                                            </div>
                                        }
                                        msg = chat.Value[i];

                                        if (msg.owned)
                                        {
                                            <div id="m_@msg.Id" class="messege d-flex justify-content-end mb-4">
                                                <div class="msg_cotainer">
                                                    @msg.content
                                                </div>
                                                <div class="img_cont_msg">
                                                    <span class="opacity-0">icon</span>
                                                </div>
                                            </div>
                                        }
                                        else if (!chat.Key.owning)
                                        {
                                            <div id="m_@msg.Id" class="messege d-flex justify-content-start mb-4">
                                                <div class="img_cont_msg">
                                                    <span class="opacity-0">icon</span>
                                                </div>
                                                <div class="msg_cotainer">
                                                    <span class="msg_nickname nickname">@msg.nickname</span>
                                                    @msg.content
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div id="m_@msg.Id" class="messege d-flex justify-content-start mb-4">
                                                <div class="img_cont_msg">
                                                    <span class="opacity-0">icon</span>
                                                </div>
                                                <div class="msg_cotainer">
                                                    <span class="msg_nickname nickname">@msg.nickname</span>
                                                    @msg.content
                                                </div>
                                            </div>

                                        }
                                    }
                                }
                                @if (chat.Key.newMsgs == 0) // no new messages, but create the objesct
                                {
                                    <div class="NUM pb-2 pt-2 text-center mb-2" style="display: none">
                                        New Unread Messages
                                    </div>
                                }
                            </div>
                        }
                    </div>
                    <div class="card-footer">
                        <div class="input-group">
                            <textarea name="" class="form-control type_msg" id="messageInput" placeholder="Type your message......">
                             </textarea>
                            <div class="input-group-append">
                                <span class="input-group-text send_btn" id="sendButton"><i class="fas fa-location-arrow"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<!--Script references. -->
<!--Reference the SignalR library. -->
<script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
<!--Reference the autogenerated SignalR hub script. -->
<script src="~/signalr/hubs"></script>
<!--Add script to update the page and send messages.-->
<script type="text/javascript">
    var _selectedChatId = undefined;

    function getCarPlate(headId) {
        return $("#" + headId + " .carPlate")[0].innerHTML;
    }
    function getCarCode(headId) {
        return $("#" + headId + " .carCode")[0].innerHTML;
    }
    function getOwned(headId) {
        return $("#" + headId).hasClass("Owned");
    }
    function getNickname(headId) {
        var maybeNickname = $("#" + headId + " .nickname");
        return maybeNickname.length == 0 ? null : maybeNickname[0].innerHTML;
    }
    function getContent() {
        return (new DOMParser().parseFromString($('#messageInput').val(), 'text/html')).body.textContent;
    }
    function resetContent(cnt = '') {
        $('#messageInput').val(cnt);
    }
    function getLastMsgs(chatId) {
        var msgArr = $("#b_" + chatId + " .messege:last");
        if (msgArr.length > 0) {
            var msgId = msgArr.attr('id')?.substring(2);
            return msgId;
        }
        return null;
    }
    function select_head(id) {
        // for the old chat
        if (_selectedChatId) { // if there was a previous chat
            var oldHeadNewMsgs = $("#h_" + _selectedChatId + " .NewMsgs");
            if (oldHeadNewMsgs[0].innerHTML == 0) { // all messages were read
                $("#b_" + _selectedChatId + " .NUM").css('display', 'none') // hide new messages banner
            }
            $("#h_" + _selectedChatId).removeClass("active");
        }

        // for the new chat
        _selectedChatId = id;
        resetContent()

        //$(".chat_head").css('background-color', '#FFF');
        //$("#h_" + id).css('background-color', "#C0FFEE");
        $("#h_" + _selectedChatId).addClass("active");

        var chatTitle = $("#h_" + id).clone()
        chatTitle.children().last().remove(); // remove the unread messages counter

        $('#chat-with-id').html(chatTitle.html());
        $(".contact_body").css('display', 'none');
        $("#chat_box").css('display', 'block');
        $("#b_" + id).css('display', 'block');


        var headNewMsgs = $("#h_" + id + " .NewMsgsWrapp .NewMsgs");

        if (headNewMsgs[0].innerHTML == 0) {
            $("#b_" + id).scrollTop($("#b_" + id)[0].scrollHeight);
        }
        else {
            $("#b_" + id).scrollTop($("#b_" + id + " .NUM")[0].offsetTop - $("#b_" + id)[0].offsetTop)
        }

        headNewMsgs.css('display', 'none');
        headNewMsgs[0].innerHTML = "0";
    }
    function addInfoReloadMsg(msg) {
        var infoReloadMsgEl = $(
            '<div class="alert alert-info"> \
                    <span class="closebtn" onclick="this.parentElement.style.display=\'none\';">&times;</span> \
                    <strong>Info:</strong>'
            + msg
            + '<button onClick="window.location.reload();">Click here</button> to see the changes</div>')[0];
        $('#Msgs')[0].append(infoReloadMsgEl);
    }

    $(document).ready(function () {
        // all server functions have the first letter lowered

        var msgsEl = $('#Msgs');
        msgsEl.removeClass("main-top");
        $('#RightBox').prepend(msgsEl);
        msgsEl.attr("style", "display: block !important");

        // Declare a proxy to reference the hub.
        var chat = $.connection.chatHub;

        function addMessage(chatId, msgId, nickname, msg, owningCar = false, owningMsg = false) {
            // move chat head

            var el = $("#h_" + chatId);
            $("#heads_box").prepend(el);

            var readMsg = owningMsg;
            if (!owningMsg) {
                if (chatId == _selectedChatId) { // new message in the current chat
                    var chatbox = $("#b_" + chatId);
                    if (chatbox.scrollTop() + chatbox.innerHeight() >= chatbox[0].scrollHeight) {
                        readMsg = true;
                    }
                }
                var headNewMsgs = $("#h_" + chatId + " .NewMsgs");
                if (!readMsg) {
                    // update new messages counter
                    if (headNewMsgs[0].innerHTML == 0) { // First new message
                        headNewMsgs.css('display', 'inline-block');
                        var NUM = $("#b_" + chatId + " .NUM");
                        $("#b_" + chatId).append(NUM);
                        NUM.css("display", "block");
                    }
                    headNewMsgs[0].innerHTML -= -1; // adds 1 to string - js hack :)

                    // add notification if message was not read
                    notMsgComp = el.children();
                    notificationMsg = "New Message in chat: " + notMsgComp[0].innerHTML + " " + notMsgComp[1].innerHTML + (notMsgComp.length > 3 ? (" " + notMsgComp[2].innerHTML) : "");
                    Notification.requestPermission().then(permision => {
                        new Notification("CarMessanger", { body: notificationMsg });
                    });
                }
                else {
                    // remove unreadcounter
                    headNewMsgs[0].innerHTML = 0;
                    headNewMsgs.css('display', 'none');
                    // remove last read marker
                    $("#b_" + chatId + " .NUM").css("display", "none");
                }
            }

            var msgStr = '<div' + (msgId ? (' id ="m_' + msgId + '"') : '') + ' class="messege d-flex justify-content-';
            if (owningMsg) {
                msgStr += 'end mb-4"> <div class="msg_cotainer">' + msg + '</div> <div class="img_cont_msg"><span class="opacity-0">icon</span>';
            } else if (owningCar) {
                msgStr += 'start mb-4"><div class="img_cont_msg"><span class="opacity-0">icon</span></div><div class="msg_cotainer">' + msg;
            } else {
                msgStr += 'start mb-4"><div class="img_cont_msg"><span class="opacity-0">icon</span></div><div class="msg_cotainer">' + msg;
            }
            msgStr += '</div> </div>';
            $("#b_" + chatId).append($(msgStr));//'<div id="m_' + msgId + '" class="messege"><strong class="nickname">' + nickname + '</strong><text> : ' + msg + '</text></div>');

            if (readMsg) {
                $("#b_" + chatId).scrollTop($("#b_" + chatId)[0].scrollHeight);
                if (!owningMsg) {
                    chat.server.newSeen(chatId, msgId)
                }
            }
        }

        // Create a function that the hub can call to broadcast messages.
        chat.client.AddMessage = function (msgJson) {
            var msg = jQuery.parseJSON(msgJson);
            //var id = $("." + msg.carCountryCode + "." + msg.carPlate)[0].id.replace('h_', '');
            addMessage(msg.chatId, msg.Id, msg.nickname, msg.content);
        };
        chat.client.DeleteCar = function (carId) {
            chat.server.disconnectCar(carId);
        }
        chat.client.DeleteChat = function (chatId) {

            var chatH = $("#h_" + chatId)[0];
            var chatB = $("#b_" + chatId)[0];
            var warningMsgEl = $(
                '<div class="alert alert-warning"> \
                    <span class="closebtn" onclick="this.parentElement.style.display=\'none\';">&times;</span> \
                    <strong>Well... </strong> The "'
                + chatH.innerHTML
                + '" Chat was removed</div>')[0];
            $('#Msgs')[0].append(warningMsgEl);

            chatH.remove();
            chatB.remove();

            if (chatId == _selectedChatId) {
                resetContent()
                $("#chat_box").css('display', 'none');
                _selectedChatId = undefined;
            }

            // callback function
            chat.server.disconnectChat(chatId);
        };
        chat.client.UpdateCarChat = function (chatId, plate, code) {
            $("#h_" + chatId + " .carPlate")[0].innerHTML = plate;
            $("#h_" + chatId + " .carCode")[0].innerHTML = code;

            $("#b_" + chatId + " .carPlate").each((ind, el) => el.innerHTML = plate);
            $("#b_" + chatId + " .carCode").each((ind, el) => el.innerHTML = code);
        };
        chat.client.UpdateNickChat = function (chatId, nick) {
            var els = $("#h_" + chatId + " .nickname")
            if (els.length > 0)
                els[0].innerHTML = nick;
        };
        chat.client.UpdateNickMsg = function (chatId, nick, msgIdList) {
            msgIdList.forEach((msgId) => {
                var els = $("#b_" + chatId + " #m_" + msgId + " .nickname")
                if (els.length > 0)
                    els[0].innerHTML = nick;
            });
        };
        chat.client.AddChat = function (newChat) {
            if ($("#h_" + newChat.chatId).length > 0) return; // error already exists
            $("#heads_box").prepend(
                '<div id="h_' + newChat.chatId
                + '" class="p-3 list-group list-group-hover contacts_card chat_head' + newChat.plate + " " + newChat.code + (newChat.owned == true ? " Owned" : "") + '">'
                + '(<text class="carCode">' + newChat.code + '</text>) <text class="carPlate">' + newChat.plate + '</text> '
                + ((newChat.owning == false) ? ('') : (
                    (newChat.info != null) ? (
                        '<text>(<text class="nickname">' + newChat.info + '</text>)</text>'
                    ) : (
                        '<text>#</text>'
                    )
                )) + '<text class="NewMsgsWrapp"><text class="NewMsgs" style="display: none">0</text></text></div>'
            );
            $("#h_" + newChat.chatId).click(function () {
                var id = newChat.chatId;
                select_head(id);
            });
            $("#chat_body").append(
                '<div id="b_' + newChat.chatId + '" class="msg_card_body contact_body chat_body w-100">'
                + '<div class="NUM pb-2 pt-2 text-center mb-2" style="display: none">New Unread Messages</div ></div>'
            );
            chat.server.joinNewChat(newChat.chatId);
        }
        chat.client.NotifyNewOwner = function (carName, isCoOwner) {
            var msg = "You are now the " + (isCoOwner ? "Co" : "") + "Owner of the car: " + carName + "! ";
            addInfoReloadMsg(msg);
        }

        // Start the connection.
        $.connection.hub.start().done(function () {

            chat.server.joinMyChats();
            chat.server.joinMyCars();
            chat.server.joinMyNotifications();

            function send() {
                if (getContent() === "") {
                    $('#messageInput').val('').focus();
                    return;
                }
                var id = "h_" + _selectedChatId;
                var owned = getOwned(id);

                var headNewMsgs = $("#h_" + _selectedChatId + " .NewMsgs");
                headNewMsgs.css('display', 'none');
                headNewMsgs[0].innerHTML = "0";

                $("#b_" + _selectedChatId + " .NUM").css('display', 'none')

                addMessage(_selectedChatId, "", "You", getContent(), owned, true);
                chat.server.messageChat(_selectedChatId, getContent())
                $('#messageInput').val('').focus();
            }

            $('#messageInput').val('').focus();
            $("#messageInput").click(function () {

                var headNewMsgs = $("#h_" + _selectedChatId + " .NewMsgs");
                headNewMsgs.css('display', 'none');
                headNewMsgs[0].innerHTML = "0";

                $("#b_" + _selectedChatId + " .NUM").css('display', 'none');


                if (_selectedChatId) {
                    var msgId = getLastMsgs(_selectedChatId);
                    if (msgId) {
                        chat.server.newSeen(_selectedChatId, msgId);
                    }
                }
            });
            $('#sendButton').click(send);
            $("#messageInput").keyup(function (event) {
                if (event.keyCode === 13) { // enter
                    send();
                }
            });
            $('div.chat_head').click(function (event) {
                var e = $(event.currentTarget);
                if (!e.is('div')) return;
                var chatId = e.attr('id').substring(2);
                var lastMsgId = getLastMsgs(chatId);
                if (lastMsgId) {
                    chat.server.newSeen(chatId, lastMsgId);
                }
            });
        });
    });
</script>