@using Microsoft.AspNet.Identity
@using CarMessenger.Models
@*<div class="container">
        <input type="text" id="message" />
        <input type="button" id="sendmessage" value="Send" />
        <input type="hidden" id="displayname" />
        <ul id="discussion">
        </ul>
    </div>*@
@{
    var carsMessages = ViewBag.carsMessages as List<KeyValuePair<(bool owning, string plate, string code), List<Message>>>;
}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="container-fluid h-100">
    <div class="row justify-content-center h-100">
        <div class="col-md-4 col-xl-3 chat">
            <div class="card mb-sm-3 mb-md-0 contacts_card" style="width:200px">
                @*<div class="card-header">
                        <div class="input-group">
                            <input type="text" placeholder="Search..." name="" class="form-control search">
                            <div class="input-group-prepend">
                                <span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
                            </div>
                        </div>
                    </div>*@
                <button class="btn" style="background-color: #C0FFEE"> @Html.ActionLink("New Message", "NewMessage")</button>
                <div id="heads_box" class="card-body contacts_body" style="overflow-y: scroll; height:400px;">
                    @{
                        var cnt_h = 0;
                        foreach (var carMessages in carsMessages)
                        {
                            var personNickname = carMessages.Value.Count > 0 ? carMessages.Value[0].personNickname : null;
                            <div id="h_@cnt_h" class="contacts_card chat_head @carMessages.Key.code @carMessages.Key.plate @(carMessages.Key.owning == true ? "Owned" : "")"
                                    style="border: 1px solid; border-color: black" onclick="select_head('@cnt_h');">
                                (<text class="carCode">@carMessages.Key.code</text>) <strong class="carPlate">@carMessages.Key.plate</strong>
                                @if (carMessages.Key.owning)
                                {
                                    if (personNickname != null)
                                    {
                                        <text>(<text class="nickname">@personNickname</text>)</text>
                                    }
                                    else
                                    {
                                        <text><strong> (You) </strong></text>
                                    }
                                }
                            </div>
                            cnt_h += 1;
                        }
                    }
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
        <div id ="chat_box" class="col-md-8 col-xl-6 chat" style="display: none">
            <div class="card">
                <div class="card-header msg_head">
                    <div class="d-flex bd-highlight">
                        <div class="user_info">
                            <span>Chat with : <span id="chat-with-id"></span></span>
                        </div>
                    </div>
                </div>
                @{
                    var cnt_b = 0;
                    foreach (var carMessages in carsMessages)
                    {
                        <div id="b_@cnt_b" class="card-body msg_card_body contact_body chat_body" style="overflow-y: scroll; height:400px;">
                            @if(carMessages.Value.Count > 0)
                            {
                                Message msg;
                                for(var i = carMessages.Value.Count - 1; i >= 0; --i)
                                {
                                    msg = carMessages.Value[i];
                                    <div class="messege">
                                        @if ((msg.senderEmail ?? "") == "")
                                        {
                                            <strong>Anonymus</strong>
                                        }
                                        else if (msg.senderEmail == User.Identity.GetUserName())
                                        {
                                            <strong>You</strong>
                                        }
                                        else
                                        {
                                            <strong> @msg.senderNickname </strong>
                                            if (carMessages.Key.owning)
                                            {
                                                <text>@msg.carCountryCode-@msg.carPlate</text>
                                            }
                                        }
                                        <text>: @msg.content</text>
                                    </div>
                                }
                            }
                        </div>
                        cnt_b += 1;
                    }
                }
                <div class="card-footer">
                    <div class="input-group">
                        <div class="input-group-append">
                            <span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
                        </div>
                        <textarea name="" class="form-control type_msg" id="messageInput" placeholder="Type your message......">
                         </textarea>
                        <div class="input-group-append">
                            <span class="input-group-text send_btn" id="sendButton"><i class="fas fa-location-arrow">Send</i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<!--Script references. -->
<!--Reference the SignalR library. -->
<script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
<!--Reference the autogenerated SignalR hub script. -->
<script src="~/signalr/hubs"></script>
<!--Add script to update the page and send messages.-->
<script type="text/javascript">
    var registeredCars;

    function regiterCar(id=0, plate="", code="") {
        console.log(plate + " " + code + " " + id);
    }

    var _selectedChatId = undefined;

    function getCarPlate(headId) {

        return $("#" + headId + " .carPlate")[0].innerHTML;
    }

    function getCarCode(headId) {
        return $("#" + headId + " .carCode")[0].innerHTML;
    }

    function getOwned(headId) {
        return $("#" + headId).hasClass("Owned");
    }

    function getNickname(headId) {

        var maybeNickname =  $("#" + headId + " .nickname");
        return maybeNickname.length == 0 ? null : maybeNickname[0].innerHTML;
    }

    function getContent() {
        return $('#messageInput').val();
    }

    function resetContent(cnt = '') {
        $('#messageInput').val(cnt);
    }

    function select_head(id) {
        _selectedChatId = id;
        $("#messageInput").val("");
        $(".chat_head").css('background-color', '#FFF');
        $("#h_" + id).css('background-color', "#C0FFEE");
        $('#chat-with-id').html($("#h_" + id).html());
        $(".contact_body").css('display', 'none');
        $("#chat_box").css('display', 'block');
        $("#b_" + id).css('display', 'block');
        $("#b_" + id).scrollTop($("#b_" + id)[0].scrollHeight);
    }

    function addMessage(chatId, nickname, msg) {
        // move chat head
        var el = $("#h_" + chatId);
        $("#h_" + chatId).remove();
        $("#heads_box").prepend(el);

        // add chat message
        //var msg_ = $("div").addClass("message");
        //var name_ = $("strong").innerHTML = "You";
        //var content_ = $("text").innerHTML = ": Eu sunt";// + getContent();
        //msg_.append(name_);
        $("#b_" + chatId).append('<div class="messege"><strong>' + nickname + '</strong><text> : ' + msg + '</text></div>');
    }

    $(document).ready(function () {
        // Declare a proxy to reference the hub.
        var chat = $.connection.chatHub;
        // Create a function that the hub can call to broadcast messages.
        chat.client.broadcastMessage = function (name, message) {
            console.log(name + ": " + message);
        };
        chat.client.addMessage = function (msgJson) {
            var msg = jQuery.parseJSON(msgJson);
            // console.log(msg);
            var id = $("." + msg.carCountryCode + "." + msg.carPlate)[0].id.replace('h_', '');
            addMessage(id, msg.senderNickname, msg.content);
        }

        var email = "@User.Identity.GetUserName()";
        var nickname = "@User.GetClaimValue("Nickname")";


        // Start the connection.
        $.connection.hub.start().done(function () {
            $('#heads_box .chat_head').each((index, el) => {
                var carPlate = getCarPlate(el.id);
                var carCode = getCarCode(el.id);
                chat.server.joinCar(carPlate, carCode);
            });

            $('#messageInput').val('').focus();

            $('#sendButton').click(function () {
                if (getContent() === "") {
                    $('#messageInput').focus();
                    return;
                }
                //chat.server.send(nickname, $('#messageInput').val());

                var id = "h_" + _selectedChatId;
                var owned = getOwned(id)
                addMessage(_selectedChatId, "You", getContent());
                $("#b_" + _selectedChatId).scrollTop($("#b_" + _selectedChatId)[0].scrollHeight);
                chat.server.messageCar(email, nickname, getCarPlate(id), getCarCode(id), owned ? getNickname(id) : null, owned, getContent());
                $('#messageInput').val('').focus();
            });
        });
    });
</script>