@model  CarMessenger.Models.CarModel

@{
    ViewBag.Title = "Details";
    var maxCoOwnersUpperLimit = 100;
    var coOwners = ViewBag.CoOwners as List<String>;
}

<div>
    <h2 style="display: inline-block;">Car Details</h2>
    &nbsp;&nbsp;&nbsp;
    <button class="btn btn-info" style="vertical-align: top;">@Html.ActionLink("See Chat Invite", "ChatInvite", new { id = Model.Id }, new { Style = "color:White; text-decoration: none;" }) </button>
</div>


<div>
    <hr />
    <div>
        <dl class="dl-horizontal">
            <dt>Owner</dt>
            <dd>
                @(ViewBag.OwnerName ?? "Unknown")
                @if (ViewBag.Owned != null && ViewBag.Owned)
                {<text> (you) </text>}
            </dd>

            <dt>@Html.DisplayNameFor(model => model.Plate)</dt>
            <dd>@Html.DisplayFor(model => model.Plate)</dd>

            <dt>@Html.DisplayNameFor(model => model.CountryCode)</dt>
            <dd>@Html.DisplayFor(model => model.CountryCode)</dd>

            <dt>@Html.DisplayNameFor(model => model.ModelName)</dt>
            <dd>@Html.DisplayFor(model => model.ModelName)</dd>

            <dt>@Html.DisplayNameFor(model => model.Color)</dt>
            <dd>@Html.DisplayFor(model => model.Color)</dd>

            <dt>CoOwners (@(coOwners?.Count ?? 0) / @Html.DisplayFor(model => model.maxCoOwners))</dt>
            <dd>

                @if ( coOwners?.Count > 0)
                {
                    <ul>
                        @foreach (var coOwnerMail in coOwners)
                        {
                            <li>
                                <text>@coOwnerMail</text>
                                @if ((ViewBag.Owned != null && ViewBag.Owned) || User.IsInRole("Admin"))
                                {
                                    <text><text onclick="return confirm('Are you sure?')">
                                            [&nbsp;&nbsp;@Html.ActionLink("Remove", "RemoveCoOwner", new { id = Model.Id, mail = coOwnerMail })&nbsp;&nbsp;]
                                        </text></text>
                                }
                            </li>
                        }
                    </ul>
                }
                else
                {
                    <text>None</text>
                }
            </dd>

            @if (ViewBag?.Owned || User.IsInRole("Admin"))
            {
                <dt>Invitations Sent</dt>
                <dd>
                    <ul>
                        @{
                            var invitations = ViewBag.Invitations as List<String>;
                        }

                        @if (invitations != null && invitations.Count > 0)
                        {
                            foreach (var invitationMail in invitations)
                            {
                                <li>
                                    <text>@invitationMail</text>
                                    [&nbsp;&nbsp;@Html.ActionLink("Remove", "RemoveCoOwner", new { id = Model.Id, mail = invitationMail })&nbsp;&nbsp;]
                                </li>
                            }

                        }
                        @if ((coOwners?.Count ?? 0) < maxCoOwnersUpperLimit) // max limit of CoOwners
                        {
                            <li>
                                @if ((coOwners?.Count ?? 0) >= Model.maxCoOwners)
                                {
                                    <text>[&nbsp; &nbsp; @Html.ActionLink("Increase CoOwners limit", "IncreaseCoOwnersLimit", new { id = Model.Id }) &nbsp; &nbsp;]</text>
                                }
                                else
                                {
                                    <text>[&nbsp; &nbsp; @Html.ActionLink("Send Invitation", "InviteCoOwner", new { id = Model.Id }) &nbsp; &nbsp;]</text>
                                }
                            </li>
                        }
                    </ul>
                    @if ((invitations == null || invitations.Count == 0) && (coOwners?.Count ?? 0) > maxCoOwnersUpperLimit)
                    {
                        <text>None</text>
                    }
                </dd>

                <dt>Requests Received</dt>
                <dd>
                    @{
                        var requests = ViewBag.Requests as List<String>;
                    }

                    @if (requests != null && requests.Count > 0)
                    {
                        <ul>
                            @foreach (var requestMail in requests)
                            {
                                <li>
                                    <text>@requestMail</text>
                                    [&nbsp;&nbsp;@Html.ActionLink("Accept", "OwnerAccept", new { id = Model.Id, mail = requestMail })&nbsp;
                                    |&nbsp;&nbsp;@Html.ActionLink("Reject", "RemoveCoOwner", new { id = Model.Id, mail = requestMail })&nbsp;&nbsp;]
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <text>None</text>
                    }
                </dd>
            }

        </dl>
    </div>
</div>

<div>
    @if (User.IsInRole("Admin"))
    {
        <span>
            <button class="btn btn-info"> @Html.ActionLink("Back to Cars", "Index", null, new { Style = "color:White; text-decoration: none;" }) </button>
        </span>
    }
    else
    {
        <span>
            <button class="btn btn-info"> @Html.ActionLink("Back to Manage", "../Manage", null, new { Style = "color:White; text-decoration: none;" }) </button>
        </span>
    }
    @if (User.IsInRole("Admin") || (ViewBag.Owned != null && ViewBag.Owned))
    {
        <span>
            <button class="btn btn-warning">@Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { Style = "color:White; text-decoration: none;" }) </button>
        </span>
    }
    <span>
        <button class="btn btn-danger" onclick="return confirm('Are you sure?')">@Html.ActionLink(ViewBag.Owned ^ User.IsInRole("Admin") ? "Delete" : "Leave", "Delete", new { id = Model.Id }, new { Style = "color:White; text-decoration: none;" }) </button>
    </span>
</div>
