@model  CarMessenger.Models.CarModel

@{
    ViewBag.Title = "Details";
}

<h2>Car Details</h2>

<div>
    <hr />
    <div>
        <dl class="dl-horizontal">
            <dt>Owner</dt>
            <dd>
                @ViewBag.OwnerName
                @if (ViewBag.Owned != null && ViewBag.Owned)
                {<text> (you) </text>}
            </dd>

            <dt>@Html.DisplayNameFor(model => model.Plate)</dt>
            <dd>@Html.DisplayFor(model => model.Plate)</dd>

            <dt>@Html.DisplayNameFor(model => model.CountryCode)</dt>
            <dd>@Html.DisplayFor(model => model.CountryCode)</dd>

            <dt>@Html.DisplayNameFor(model => model.ModelName)</dt>
            <dd>@Html.DisplayFor(model => model.ModelName)</dd>

            <dt>@Html.DisplayNameFor(model => model.Color)</dt>
            <dd>@Html.DisplayFor(model => model.Color)</dd>

            <dt>CoOwners</dt>
            <dd>
                @{
                    var coOwners = ViewBag.CoOwners as List<String>;
                }

                @if (coOwners != null && coOwners.Count > 0)
                {
                    <ul>
                        @foreach (var coOwnerMail in coOwners)
                        {
                            <li>
                                <text>@coOwnerMail</text>
                                @if (ViewBag.Owned != null && ViewBag.Owned)
                                {
                                    <text><text onclick="return confirm('Are you sure?')">
                                            [&nbsp;&nbsp;@Html.ActionLink("Remove", "RemoveCoOwner", new { id = Model.Id, mail = coOwnerMail })&nbsp;&nbsp;]
                                        </text></text>
                                }
                            </li>
                        }
                    </ul>
                }
                else
                {
                    <text>None</text>
                }
            </dd>

            @if (ViewBag.Owned != null && ViewBag.Owned)
            {
                <dt>Invitations Sent</dt>
                <dd>
                    <ul>
                        @{
                            var invitations = ViewBag.Invitations as List<String>;
                        }

                        @if (invitations != null && invitations.Count > 0)
                        {
                            foreach (var invitationMail in invitations)
                            {
                                <li>
                                    <text>@invitationMail</text>
                                    [&nbsp;&nbsp;@Html.ActionLink("Remove", "RemoveCoOwner", new { id = Model.Id, mail = invitationMail })&nbsp;&nbsp;]
                                </li>
                            }
                        }
                    <li>
                        @if(ViewBag.Owned)
                        {
                            <text>[&nbsp; &nbsp; @Html.ActionLink("Send Invitation", "InviteCoOwner", new { id = Model.Id }) &nbsp; &nbsp;]</text>
                        }
                        else
                        {
                            <text>None</text>
                        }
                    </li>
                    </ul>
                </dd>

                <dt>Requests Received</dt>
                <dd>
                    @{
                        var requests = ViewBag.Requests as List<String>;
                    }

                    @if (requests != null && requests.Count > 0)
                    {
                        <ul>
                            @foreach (var requestMail in requests)
                            {
                                <li>
                                    <text>@requestMail</text>
                                    [&nbsp;&nbsp;@Html.ActionLink("Accept", "OwnerAccept", new { id = Model.Id, mail = requestMail })&nbsp;
                                    |&nbsp;&nbsp;@Html.ActionLink("Reject", "RemoveCoOwner", new { id = Model.Id, mail = requestMail })&nbsp;&nbsp;]
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <text>None</text>
                    }
                </dd>
            }

        </dl>
    </div>
</div>

<div>
    <span>
        <button class="btn btn-info"> @Html.ActionLink("Back to Manage", "../Manage") </button>
    </span>
    @if (ViewBag.Owned != null && ViewBag.Owned)
    {
        <span>
            <button class="btn btn-warning">@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) </button>
        </span>
    }
    <span>
        <button class="btn btn-danger" onclick="return confirm('Are you sure?')">@Html.ActionLink("Delete", "Delete", new { id = Model.Id }) </button>
    </span>
</div>
