@model CarMessenger.Models.CarModel

@{
    ViewBag.Title = "Edit";
}

<div class="d-flex w-100 h-100 justify-content-center">
    <div class="col-sm-10 col-md-8">
        <div class="main-bg">
            <h2 class="main-header">@ViewBag.Title</h2>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Plate, htmlAttributes: new { @class = "control-label w-100" })
                        <div class="w-100">
                            @Html.EditorFor(model => model.Plate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Plate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CountryCode, htmlAttributes: new { @class = "control-label w-100" })
                        <div class="w-100">
                            @Html.EditorFor(model => model.CountryCode, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CountryCode, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ModelName, htmlAttributes: new { @class = "control-label w-100" })
                        <div class="w-100">
                            @Html.EditorFor(model => model.ModelName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ModelName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Color, htmlAttributes: new { @class = "control-label w-100" })
                        <div class="w-100">
                            @Html.EditorFor(model => model.Color, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Color, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group d-flex justify-content-between">
                        <span>
                            <button class="btn btn-info"> @Html.ActionLink("Back to Details", "Details/" + Model.Id, null, new { Style = "color:White; text-decoration: none;" })</button>
                        </span>
                        <span class="mr-3">
                            <input type="submit" value="Save" class="btn btn-success" />
                        </span>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
